<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block title %} Movies {% endblock %}
{% block content %}
    <!-- profile dropdown here to be added -->
    <button class = ""  style="padding: 15px; background-color:#494D72; border-color: #FFFFFF; border-radius: 15px; float:right; margin-top:24px; margin-right: 40px;">
        <a href="#">
            <img src="{% static 'main/images/watchlist_navbar.png' %}" alt="watchlist" width="75%" height="10%">
        </a>
        <em class="fa fa-caret-down"></em>
    </button>
{% endblock %}


{% block movies %}
    <h1 align="center" style="color: #494d72">
        MOVIES RECOMMENDATION
    </h1>
    <form method="post" action="#" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="wrapper">
            <div id="survey_options">
                <input list="movieslist" name="user_movies[]" class="user_movies" placeholder="Enter movie name" required/>
                <datalist id="movieslist">
                </datalist>
            </div>
            <div class="controls" align="center">
                <a href="#" id="add-more">
                    <img src="{% static 'main/images/add_users_btn.png' %}" alt="Add Users" width="30%" height="30%"/>
                </a>
                <a href="#" id="remove-user">
                    <img src="{% static 'main/images/remove_users.png' %}" alt="Remove Users" width="30%" height="30%"/>
                </a>
                <br><br>
            </div>
            <button id="recommendBtn" class="submit" type="submit" name="recommendmovies" values="" style="border:none; padding:0%; margin-left:35%; background-color: #FFFFFF; width:30%; cursor:pointer" >
                    <img src="{% static 'main/images/recommendBtn.png' %}" alt="RecommendBtn" width="30%"/>
            </button>
        </div>
        <div name="output">
            {%for k,v in movie_imagepath_dict.items %}
                <figure style="display: inline-block; padding-left: 150px; padding-right:0px; padding-bottom:20px;">
                        <img src="{% static v %}" alt=k width="45%" height="45%" caption=k style="border-radius: 15px; "/> 
                        <figcaption style="text-align: center; font-size: 25px; position: absolute;">{{k}}</figcaption>
                </figure>                
            {% endfor %}
        </div>
    </form>
    <script>

        const survey_options = document.getElementById('survey_options');
        const add_more_fields = document.getElementById('add-more');
        const remove_fields = document.getElementById('remove-user');
        const input_tags = survey_options.getElementsByTagName('input');

        add_more_fields.addEventListener('click', add_movie_func)
        function add_movie_func(event){
            if(event){
                event.preventDefault();
            }
            var newField = document.createElement('input');
            newField.setAttribute('list','movieslist');
            newField.setAttribute('name','user_movies[]');
            newField.setAttribute('class','user_movies');
            newField.setAttribute('size',60);
            newField.setAttribute('required','');
            newField.setAttribute('placeholder','Enter movie name');
            survey_options.appendChild(newField);
        }


        remove_fields.addEventListener('click', remove_movie_func)
        function remove_movie_func(event){
            if(event){
                event.preventDefault();
            }
            if(input_tags.length > 1){
                survey_options.removeChild(input_tags[(input_tags.length) - 1]);
            }
        }
        function readFileMovieNames(file)
        {
            var rawFile = new XMLHttpRequest();
            rawFile.open("GET", file, false);
            rawFile.onreadystatechange = function ()
            {
                if(rawFile.readyState === 4)
                {
                    if(rawFile.status === 200 || rawFile.status == 0)
                    {
                        var allText = rawFile.responseText;
                        //console.log(allText);
                        const movienames_array = allText.split(/\r?\n/)
                        //console.log(movienames_array);
                        var list = document.getElementById('movieslist');
                        movienames_array.forEach(function(item){
                           var option = document.createElement('option');
                           option.value = item;
                           list.appendChild(option);
                        });
                    }
                }

            }
            rawFile.send(null);
        }

        readFileMovieNames('../../static/main/database/all_movie_names.txt');
    </script>
{% endblock %}